<div ng-class="{'indicator': true,
                'is-editing': isEditing
               }">
  <div class="input">
    <div type="text" ng-model="estimate"
         class="f estimate-input"
         contenteditable="true"
         editable-type="string"
         ng-show="estimate != null && estimate !== ''"></div>

    <div type="text" ng-model="task.text"
           class="f task-input"
           contenteditable="true"
           editable-type="string"
           auto-focus="true"
           placeholder="Enter Task (e.g. 'finish document @2pm 5 minutes #research') ..."></div>

  </div>
  <div class="footer" ng-if="isEditing">
    <div class="tags">
      <span ng-repeat="tag in tags track by $index" class="tag">{{tag}}</span>
    </div>

    <div class="commands">
      <button ng-repeat="command in commands" ng-click="activate(command)"><div class="text">{{::command.text}}</div></button>
    </div>
  </div>

  <div ng-if="task && task.record.summary.start > 0" class="details">
    <div class="time-spent">{{timeSpent()}}</div>
    <div>{{task.record.summary}}</div>
    <div ng-repeat="component in task.record.components | orderBy:'-start'"
         class="time-component">
      {{component.start | date : 'MMM d, yyyy hh:mm:ss a'}}
      <div class="progress-container">
        <div class="progress-bar" ng-style="{'width': (100 * (component.end - component.start) / task.record.summary.total) + '%'}">
      {{component.end ? (component.end - component.start) : ''}}</div>
      </div>
    </div>
  </div>
</div>