<div ng-class="{'indicator': true,
                'is-editing': isEditing
               }">
  <div class="input">
    <div type="text" ng-model="estimate"
         class="f estimate-input"
         contenteditable="true"
         editable-type="string"
         ng-show="estimate != null && estimate !== ''"></div>

    <div type="text" ng-model="task.text"
           class="f task-input"
           contenteditable="true"
           editable-type="string"
           auto-focus="true"
           placeholder="Add to the Calendar (e.g. 'finish document @2pm 5 minutes #research') ..."></div>

  </div>
  <div class="footer" ng-if="isEditing">
    <div class="tags">
      <span ng-repeat="tag in tags track by $index" class="tag">{{tag}}</span>
    </div>

    <div class="commands">
      <button><div class="text">Done</div></button>
    </div>
  </div>
</div>